@charset "utf-8";
/* CSS Document */

#wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
}
body {
	background:url(images/patrick-tomasso-399557.jpg) no-repeat;
	background-color: #132730;	
	background-size:contain;
	-webkit-background-size: contain;
  	-moz-background-size: contain;
  	-o-background-size: contain;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, "sans-serif";
}
/* NAVIGATION!! */
.nav-right {
	position: fixed;
	right: 0;
	top: 0;
	margin: 2.2% 0.8% 0 0;
	
}
.nav-right li {
	text-decoration: none;
	display: inline;
	padding: 0 10px;
}
.nav-right li a {
	text-decoration: none;
	color:#FFFFFF;
	font-weight: 600;
	font-size: 16px;
	font-family: "helvetica neue", Helvetica, Arial, "sans-serif";
}
.nav-right a:hover {
	color: white;
}
.nav a.active {
	color: #000000;
}
.nav-right li a:hover {
	text-decoration: underline white;
}
.nav-left{
	position: fixed;
	left: 0;
	top: 0;
	margin: 10px 0 0 40px;
}
/* START PAGE !! */
.center-name {
	display: block;
	text-decoration: none;
	font-family: 'Work Sans', sans-serif;
	font-weight: 900;
	text-align: center;
	font-size: 40px;
	margin: 18% 0 0 0;
	padding: 0 0 0 0;
	color: white;
}
.short-about {
	padding: 0 0 12% 0;
	margin: -40px 0 0 2.5%;
	text-align: left;
	justify-content: center;
}
 .short-about p { 
	color: #FFFFFF;
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	margin: 0 25%;
}
.arrow {
	margin: 0 0 14% 0;
	opacity: 80%;
}
.arrow a:hover {
}
/* PROJECTS START */
#project-title {
	display: block;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 30px;
	color: white;
	opacity: 70;
	padding: 2% 0 0 0;
}
.projects {
	display: flex;
	flex-wrap: wrap;
	margin: 0 10%;
	justify-content: center;
}
.p1, .p2, .p3, .p4, .p5, .p6 {
	padding: 20px;
}

/* MAYBE BOX SHADOW ??????
.p1 img {
	box-shadow: 0 0 15px 2px black;
}*/
#about-container {
	margin: 2% 0 50px 0;
	padding: 5% 0;
}
#about-title {
	margin: 10% 0 0 0;
	display: flex inline;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 30px;
	color: white;
	opacity: 70;
	padding: 2% 0 0 0;
}
.about-text {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	justify-content: center;
}
.about-text p {
	color: #E0E0E0;
	font-size: 20px;
	font-weight: normal;
	width: 35%;
	padding: 3.5% 0 0 0;
}
#contact-container {
	padding: 15% 0;
	margin: 0 0;
}

#contact-title {
	margin: 10% 0 0 0;
	display: block;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 30px;
	color: white;
	opacity: 70;
}
.contact-text p {
	text-align: center;
	color: #E0E0E0;
	font-size: 20px;
	font-weight: normal;
}
.contact-text a {
	text-decoration:underline;
	color: white;
}
span {
	text-decoration: underline;
	border: #FFFFFF;
}
.footer p {
	color: #9F9E9E;
	justify-content: center;
}
export class SScroll{
    constructor(){
        this.delay=501      //ms
        this.duration=500   //ms
        this.lastClick=0
    }

    lastClick
    delay
    duration

    scrollTo=(destID)=>{
        /* To prevent "bounce" */
        /* https://stackoverflow.com/a/28610565/3405291 */
        if(this.lastClick>=(Date.now()-this.delay)){return}
        this.lastClick=Date.now()

        const dest=document.getElementById(destID)
        const to=dest.offsetTop
        if(document.body.scrollTop==to){return}
        const diff=to-document.body.scrollTop
        const scrollStep=Math.PI / (this.duration/10)
        let count=0
        let currPos
        const start=window.pageYOffset
        const scrollInterval=setInterval(()=>{
            if(document.body.scrollTop!=to){
                count++
                currPos=start+diff*(.5-.5*Math.cos(count*scrollStep))
                document.body.scrollTop=currPos
            }else{clearInterval(scrollInterval)}
        },10)
    }
}